.link {
    cursor: pointer;
    outline: none;
}

.logo {
    @extend .link;
}

.link-auth {
    @extend .link;
    font-size: 14px;
    margin: 0 0 0 15px;
}

.icon {
    cursor: pointer;
    padding: 0 14px;
    outline: none;
}

.spacer {
    flex: 1 1 auto;
}

.version {
    color: #bbb;
    font-size: 9px;
    margin: 0 0 0 10px;
}

.user-name {
    font-weight: bold;
}