.logo {
    cursor: pointer;
    outline: none;
}

.icon {
    cursor: pointer;
    padding: 0 14px;
    outline: none;
}

.spacer {
    flex: 1 1 auto;
}

.version {
    color: #bbb;
    font-size: 9px;
    margin: 0 0 0 10px;
}